{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row d-flex justify-content-center">
					{% if app.user %}
						<div class="mb-3">
							Connecté en tant que
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
                        {% else %}
                            
                    <div>
                        <a href='/register'>S'inscrire</a>
                    </div>
					{% endif %}
			<div class="col-6 ml-auto">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

                    

                    
                    <div class="text-center mb-5">
                    <img src="{{asset('img/logo.png')}}" alt="logo" style="width: 15vw;" >
                    </div>
					<h1 class="h4 mb-3 font-weight-normal text-center">Connexion au dashboard du site Web</h1>
					<label for="inputUsername">Identifiant</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi
						</label>
					</div>

				</div>


                <div class="text-center mb-5">
				<button class="col btn align-self-center btn-primary mt-5 text-center" type="submit">
					Connexion
				</button>
				<div class="row mt-5">
							<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
				</div>
                </div>
			</form>

		</div>
	</div>
{% endblock %}
