{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1 class="text-center">Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Description</th>
                <th class="text-center">Lien vers la page web (https://...)</th>
                <th class="text-center">Nom de l'image (avec extension)</th>
                <th class="text-center">Posté le</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.link }}</td>
                <td>{{ post.picture }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button type='button' href="{{ path('app_post_show', {'id': post.id}) }}">Voir</button>
                    <button type='button' href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type='button' href="{{ path('app_post_new') }}">Nouvel article</button>
    </div> 
{% endblock %}
